@font-face {
	font-family: "Cabin";
	src: url("fonts/Cabin-Regular.ttf") format("truetype"),
}

@font-face {
	font-family: "Cabin-Bold";
	src: url("fonts/Cabin-Bold.ttf") format("truetype"),
}

@font-face {
	font-family: "Inconsolata";
	src: url("fonts/Inconsolata-Regular.ttf") format("truetype"),
}
